.input--wrapper {
  position: relative;

  margin-bottom: 25px;
}

.input--wrapper input {
  width: 100%;
  height: 64px;

  padding-left: 75px;
  border: none;
  border-radius: 5px;
  outline: none;

  font-size: 18px;
  color: var(--light-text-primary);
  background-color: #f2f2f2;
}

#dark .input--wrapper input {
  background-color: #25273d;
  color: #c8cbe7;
}

.input--wrapper .input--checkmark {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translate(0, -50%);

  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid var(--light-text-completed);

  cursor: pointer;
}

#dark .input--wrapper .input--checkmark {
  border-color: #393a4b;
}
