.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 25px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.controls p {
  color: var(--light-text-secondary);
}

.primary--buttons button,
.secondary--buttons button {
  border: none;

  background: none;

  cursor: pointer;
  color: var(--light-text-secondary);
}

.primary--buttons button:hover {
  color: var(--light-text-hover);
}

.primary--buttons button {
  margin: 0 5px;

  font-weight: bold;
}

.primary--buttons .active {
  color: var(--light-text-active);
}
