header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 50px 0;
}

header h1 {
  color: var(--color-header);
  text-transform: uppercase;
  letter-spacing: 15px;
}

header img {
  cursor: pointer;
}
