:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 300px;

  z-index: -100;
}

.bg-light {
  background-image: url("./assets/bg-desktop-light.jpg");
}

.bg-dark {
  background-image: url("./assets/bg-desktop-dark.jpg");
}

.App {
  max-width: 540px;
  min-width: 540px;
  padding: 0 20px;
  margin: 0 auto;
  border: 1px solid red;
}

.list {
  box-shadow: 0px 22px 41px -3px rgba(156, 151, 151, 0.75);

  -webkit-box-shadow: 0px 22px 41px -3px rgba(156, 151, 151, 0.75);
  -moz-box-shadow: 0px 22px 41px -3px rgba(156, 151, 151, 0.75);
}

footer {
  margin-top: 25px;
  text-align: center;
  color: #9495a5;
  font-size: 14px;
}
